:root {
  --text-color-one: rgb(223, 223, 223);
  --main-color: #685dfd;
  --padding-value: 15px 10px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

.container {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.mytools .container h1 {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: var(--text-color-one);
  animation: myAnim 1.5s ease-in-out alternate;
}

/* animation for the h1 */
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ------------------------------------- */
.mytools .container p {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: var(--text-color-one);
  position: relative;
  animation: myAnimp 1.5s ease-in-out alternate;
}

/* animation for the p */
@keyframes myAnimp {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ----------------------------- */
.mytools .container a i {
  color: var(--text-color-one);
}

.mytools .container a i:hover {
  color: var(--main-color);
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: rotateIn 1s alternate linear infinite;
}

/* animation for the icon */

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

/* -------------------------------------- */
.content .container {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

.content .container .col {
  background-color: var(--text-color-one);
  border-radius: 5px;
  border-bottom: 5px solid var(--main-color);
  font-family: "Lato", sans-serif;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  break-inside: avoid;
}

.content .container .col h3 {
  margin: 0;
  padding: var(--padding-value);
  font-size: 18px;
  color: var(--text-color-one);
  text-transform: capitalize;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--main-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.content .container .col .links a {
  display: block;
  padding: var(--padding-value);
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-bottom: 0.5px solid var(--main-color);
  font-size: 17px;
  font-weight: 400;
  transition: 0.5s;
  text-align: start;
  text-transform: capitalize;
}

.content .container .col .links a:last-child {
  border-bottom: none;
}

.content .container .col .links a:hover {
  padding-left: 30px;
  color: var(--main-color);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(22, 22, 22);
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 5px 10px;
  color: rgb(124, 124, 124);
}

footer i {
  padding: 0 2px;
  color: rgb(73, 49, 207);
}

.menu,
.menu-btn {
  display: none;
}

/* Small devices (landscape phones, 480px and up) */
@media (max-width: 768px) {
  ul {
    list-style: none;
    padding: 0;
  }

  /* Styles for the menu button */
  .menu-btn {
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    height: 56px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    width: 56px;
    display:block;
  }

  /* Styles for the menu */
  .menu {
    bottom: 0;
    background-color: #000000c5;
    left: 0;
    margin: 0;
    padding: 50px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.2s linear;
    display: block;
    overflow: auto;
    text-transform: capitalize;
  }

  .menu a {
    text-align: center;
    text-decoration: none;
    color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    margin: 8px 0;
    background-color: rgb(58, 57, 59);
  }

  /* Creating the hamburger/hotdog icon in CSS */
  .menu-btn li {
    background-color: #ffffff;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 16px;
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  /* The following two lines set the three lines of our hamburger/hotdog icon apart */
  .menu-btn li:first-child {
    transform: translate3d(0, -4px, 0);
  }

  .menu-btn li:last-child {
    transform: translate3d(0, 4px, 0);
  }

  /* We're now in the animation territory. These are the classes you toggle on with our Javascript function. */
  .menu-btn--on li:first-child {
    transform: rotate(135deg) translate3d(0, 0, 0);
  }

  .menu-btn--on li:last-child {
    transform: rotate(-135deg) translate3d(0, 0, 0);
  }

  .menu-btn--on li:nth-child(2) {
    opacity: 0;
  }

  .menu--open {
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 481px) {
  .content .container {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

@media (max-width: 480px) {
  .content .container .col h3 {
    pointer-events: visible;
  }

  .answercont {
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }

  .content .container {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 980px;
  }

  .content .container {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  .content .container {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}

/* **********************************************
 */
