:root {
  --text-color-one: rgb(223, 223, 223);
  --main-color: #685dfd;
  --padding-value: 15px 10px;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url(/img/background.png);
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}
.container {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  scroll-behavior: smooth;
}
.mytools .container h1 {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: var(--text-color-one);
}
.mytools .container p {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: var(--text-color-one);
  position: relative;
}
.mytools .container a i {
  color: var(--text-color-one);
}
.mytools .container a i:hover {
  color: var(--main-color);
}
.content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.content .container .col {
  background-color: var(--text-color-one);
  border-radius: 5px;
  border-bottom: 5px solid var(--main-color);
  font-family: "Lato", sans-serif;
  position: relative;
}
/* .content .container .col:nth-child(1) {
  grid-row: span 2;
}
.content .container .col:nth-child(4) {
  grid-row: span 1;
} */
.content .container .col h1 {
  margin: 0;
  padding: var(--padding-value);
  font-size: 18px;
  color: var(--text-color-one);
  text-transform: capitalize;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--main-color);
}

.content .container .col .links a {
  display: block;
  padding: var(--padding-value);
  text-decoration: none;
  color: rgb(17, 17, 17);
  border-bottom: 0.5px solid var(--main-color);
  font-size: 17px;
  font-weight: 400;
  transition: 0.5s;
  text-align: start;
  text-transform: capitalize;<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
  <g mask="url(&quot;#SvgjsMask1000&quot;)" fill="none">
      <rect width="1440" height="560" x="0" y="0" fill="#0e2a47"></rect>
      <path d="M-103.08 379.01L-103.08 379.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-103.08 379.01L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-103.08 379.01L69.72 391.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-103.08 379.01L112.17 514.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-39.9 496.98L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L-48.64 702.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L77.82 703.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L112.17 514.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L-103.08 379.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M-48.64 702.3L69.72 391.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M69.72 391.01L69.72 391.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M69.72 391.01L188.63 358.33" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M69.72 391.01L112.17 514.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M69.72 391.01L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M112.17 514.57L112.17 514.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M112.17 514.57L255.69 546.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M112.17 514.57L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M112.17 514.57L188.63 358.33" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M77.82 703.3L77.82 703.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M77.82 703.3L112.17 514.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M77.82 703.3L255.69 546.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M77.82 703.3L-39.9 496.98" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M77.82 703.3L69.72 391.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M188.63 358.33L188.63 358.33" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M188.63 358.33L255.69 546.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M255.69 546.76L255.69 546.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M255.69 546.76L401.62 508.28" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M255.69 546.76L396.75 662.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M255.69 546.76L69.72 391.01" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L411.15 344.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L509.11 359.68" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L401.62 508.28" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L188.63 358.33" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M411.15 344.76L255.69 546.76" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M401.62 508.28L401.62 508.28" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M401.62 508.28L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M401.62 508.28L396.75 662.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M396.75 662.54L396.75 662.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M396.75 662.54L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M509.11 359.68L509.11 359.68" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M509.11 359.68L667.24 370" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M509.11 359.68L401.62 508.28" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M509.11 359.68L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M504.52 554.21L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M504.52 554.21L678.31 495.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M704.2 202.63L704.2 202.63" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M704.2 202.63L795.39 194.65" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L667.24 370" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L678.31 495.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L704.2 202.63" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L839.96 338.02" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M667.24 370L795.39 194.65" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M678.31 495.41L678.31 495.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M678.31 495.41L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M678.31 495.41L696.21 702.36" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M696.21 702.36L696.21 702.36" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M696.21 702.36L789.8 709.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M696.21 702.36L504.52 554.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M795.39 194.65L795.39 194.65" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M795.39 194.65L839.96 338.02" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M839.96 338.02L839.96 338.02" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M839.96 338.02L984.69 339.48" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M839.96 338.02L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M839.96 338.02L704.2 202.63" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M839.96 338.02L999.89 204" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M827.84 494.3L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M827.84 494.3L1007.02 501.72" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M789.8 709.49L789.8 709.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M789.8 709.49L939.65 677.58" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M789.8 709.49L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M789.8 709.49L678.31 495.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M956.01 -39.46L956.01 -39.46" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M956.01 -39.46L958.49 67.91" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M956.01 -39.46L1152.89 40.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M958.49 67.91L958.49 67.91" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M958.49 67.91L999.89 204" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M958.49 67.91L1152.89 40.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M958.49 67.91L1100.32 204.42" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M958.49 67.91L795.39 194.65" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M999.89 204L999.89 204" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M999.89 204L1100.32 204.42" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M999.89 204L984.69 339.48" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M984.69 339.48L984.69 339.48" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M984.69 339.48L1141.51 368.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L1007.02 501.72" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L1127.12 545.75" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L984.69 339.48" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L1100.97 663.56" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L939.65 677.58" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1007.02 501.72L1141.51 368.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M939.65 677.58L939.65 677.58" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M939.65 677.58L1100.97 663.56" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M939.65 677.58L827.84 494.3" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1152.89 40.41L1152.89 40.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1152.89 40.41L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1152.89 40.41L1260.64 -69.31" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.32 204.42L1100.32 204.42" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.32 204.42L1264.3 237.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.32 204.42L1141.51 368.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.32 204.42L1152.89 40.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.32 204.42L984.69 339.48" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1141.51 368.49L1141.51 368.49" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1141.51 368.49L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1141.51 368.49L1127.12 545.75" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1141.51 368.49L1264.3 237.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1141.51 368.49L1245.25 525.27" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1127.12 545.75L1127.12 545.75" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1127.12 545.75L1245.25 525.27" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1127.12 545.75L1100.97 663.56" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1127.12 545.75L1280.68 678.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1127.12 545.75L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.97 663.56L1100.97 663.56" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1100.97 663.56L1280.68 678.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1260.64 -69.31L1260.64 -69.31" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1260.64 -69.31L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1260.64 -69.31L1446.45 -67.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1260.64 -69.31L1439.28 78.13" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1240.16 69.57L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.3 237.54L1264.3 237.54" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.3 237.54L1392.09 260.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.3 237.54L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.3 237.54L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.95 369.08L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1264.95 369.08L1411.03 380.37" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1245.25 525.27L1245.25 525.27" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1245.25 525.27L1280.68 678.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1245.25 525.27L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1245.25 525.27L1100.97 663.56" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1245.25 525.27L1462.48 498.4" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1280.68 678.55L1280.68 678.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1280.68 678.55L1455.54 653.04" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1280.68 678.55L1462.48 498.4" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1446.45 -67.21" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1554.17 -39.91" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1439.28 78.13" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1539.19 56.06" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1446.45 -67.21L1152.89 40.41" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1439.28 78.13" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1539.19 56.06" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1554.17 -39.91" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1392.09 260.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1568.09 221.86" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1439.28 78.13L1240.16 69.57" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1392.09 260.55L1392.09 260.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1392.09 260.55L1411.03 380.37" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1392.09 260.55L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1392.09 260.55L1568.09 221.86" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1411.03 380.37L1411.03 380.37" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1411.03 380.37L1462.48 498.4" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1462.48 498.4L1462.48 498.4" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1462.48 498.4L1565.82 407.83" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1462.48 498.4L1455.54 653.04" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1462.48 498.4L1264.95 369.08" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1462.48 498.4L1392.09 260.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1455.54 653.04L1455.54 653.04" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1455.54 653.04L1245.25 525.27" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1455.54 653.04L1565.82 407.83" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1455.54 653.04L1411.03 380.37" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1554.17 -39.91L1554.17 -39.91" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1554.17 -39.91L1539.19 56.06" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1554.17 -39.91L1568.09 221.86" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1554.17 -39.91L1260.64 -69.31" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1539.19 56.06L1539.19 56.06" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1539.19 56.06L1568.09 221.86" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1539.19 56.06L1392.09 260.55" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1568.09 221.86L1568.09 221.86" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1568.09 221.86L1565.82 407.83" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1565.82 407.83L1565.82 407.83" stroke="#132e65" stroke-width="1.5"></path>
      <path d="M1565.82 407.83L1411.03 380.37" stroke="#132e65" stroke-width="1.5"></path>
      <circle r="5" cx="-103.08" cy="379.01" fill="#132e65"></circle>
      <circle r="5" cx="-39.9" cy="496.98" fill="#132e65"></circle>
      <circle r="5" cx="-48.64" cy="702.3" fill="#132e65"></circle>
      <circle r="5" cx="69.72" cy="391.01" fill="#132e65"></circle>
      <circle r="5" cx="112.17" cy="514.57" fill="#132e65"></circle>
      <circle r="5" cx="77.82" cy="703.3" fill="#132e65"></circle>
      <circle r="5" cx="188.63" cy="358.33" fill="#132e65"></circle>
      <circle r="5" cx="255.69" cy="546.76" fill="#132e65"></circle>
      <circle r="5" cx="411.15" cy="344.76" fill="#132e65"></circle>
      <circle r="5" cx="401.62" cy="508.28" fill="#132e65"></circle>
      <circle r="5" cx="396.75" cy="662.54" fill="#132e65"></circle>
      <circle r="5" cx="509.11" cy="359.68" fill="#132e65"></circle>
      <circle r="5" cx="504.52" cy="554.21" fill="#132e65"></circle>
      <circle r="5" cx="704.2" cy="202.63" fill="#132e65"></circle>
      <circle r="5" cx="667.24" cy="370" fill="#132e65"></circle>
      <circle r="5" cx="678.31" cy="495.41" fill="#132e65"></circle>
      <circle r="5" cx="696.21" cy="702.36" fill="#132e65"></circle>
      <circle r="5" cx="795.39" cy="194.65" fill="#132e65"></circle>
      <circle r="5" cx="839.96" cy="338.02" fill="#132e65"></circle>
      <circle r="5" cx="827.84" cy="494.3" fill="#132e65"></circle>
      <circle r="5" cx="789.8" cy="709.49" fill="#132e65"></circle>
      <circle r="5" cx="956.01" cy="-39.46" fill="#132e65"></circle>
      <circle r="5" cx="958.49" cy="67.91" fill="#132e65"></circle>
      <circle r="5" cx="999.89" cy="204" fill="#132e65"></circle>
      <circle r="5" cx="984.69" cy="339.48" fill="#132e65"></circle>
      <circle r="5" cx="1007.02" cy="501.72" fill="#132e65"></circle>
      <circle r="5" cx="939.65" cy="677.58" fill="#132e65"></circle>
      <circle r="5" cx="1152.89" cy="40.41" fill="#132e65"></circle>
      <circle r="5" cx="1100.32" cy="204.42" fill="#132e65"></circle>
      <circle r="5" cx="1141.51" cy="368.49" fill="#132e65"></circle>
      <circle r="5" cx="1127.12" cy="545.75" fill="#132e65"></circle>
      <circle r="5" cx="1100.97" cy="663.56" fill="#132e65"></circle>
      <circle r="5" cx="1260.64" cy="-69.31" fill="#132e65"></circle>
      <circle r="5" cx="1240.16" cy="69.57" fill="#132e65"></circle>
      <circle r="5" cx="1264.3" cy="237.54" fill="#132e65"></circle>
      <circle r="5" cx="1264.95" cy="369.08" fill="#132e65"></circle>
      <circle r="5" cx="1245.25" cy="525.27" fill="#132e65"></circle>
      <circle r="5" cx="1280.68" cy="678.55" fill="#132e65"></circle>
      <circle r="5" cx="1446.45" cy="-67.21" fill="#132e65"></circle>
      <circle r="5" cx="1439.28" cy="78.13" fill="#132e65"></circle>
      <circle r="5" cx="1392.09" cy="260.55" fill="#132e65"></circle>
      <circle r="5" cx="1411.03" cy="380.37" fill="#132e65"></circle>
      <circle r="5" cx="1462.48" cy="498.4" fill="#132e65"></circle>
      <circle r="5" cx="1455.54" cy="653.04" fill="#132e65"></circle>
      <circle r="5" cx="1554.17" cy="-39.91" fill="#132e65"></circle>
      <circle r="5" cx="1539.19" cy="56.06" fill="#132e65"></circle>
      <circle r="5" cx="1568.09" cy="221.86" fill="#132e65"></circle>
      <circle r="5" cx="1565.82" cy="407.83" fill="#132e65"></circle>
      <path d="M-93.61 524.01L-93.61 524.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-93.61 524.01L-72.13 655.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-93.61 524.01L38.76 489.56" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-93.61 524.01L105.4 681.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-93.61 524.01L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-93.61 524.01L350.92 689.07" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M709.08 704.98L709.08 704.98" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M709.08 704.98L791.44 700.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M709.08 704.98L526.78 658.6" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1275.03 234.97L1275.03 234.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1275.03 234.97L1279.87 104.77" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1275.03 234.97L1311.99 361.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1298 510.04L1298 510.04" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1298 510.04L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1298 510.04L1278.68 642.94" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1426.67 103.36L1426.67 103.36" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1426.67 103.36L1279.87 104.77" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1426.67 103.36L1591.86 44.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1404.86 358.26L1404.86 358.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1404.86 358.26L1311.99 361.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1404.86 358.26L1550.44 346.66" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1565.47 559.7" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1594.75 670.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1454.2 661.19" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1550.44 346.66" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1404.86 358.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1565.47 559.7L1298 510.04" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-72.13 655.01L-72.13 655.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-72.13 655.01L105.4 681.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-72.13 655.01L38.76 489.56" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-72.13 655.01L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M-72.13 655.01L350.92 689.07" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M38.76 489.56L38.76 489.56" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M38.76 489.56L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M38.76 489.56L105.4 681.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M38.76 489.56L350.92 689.07" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M38.76 489.56L526.78 658.6" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M105.4 681.62L105.4 681.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M105.4 681.62L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M199.21 515.8L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M199.21 515.8L350.92 689.07" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M350.92 689.07L350.92 689.07" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M350.92 689.07L526.78 658.6" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M350.92 689.07L105.4 681.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M350.92 689.07L709.08 704.98" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M526.78 658.6L526.78 658.6" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M526.78 658.6L791.44 700.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M526.78 658.6L836.4 549.93" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M526.78 658.6L199.21 515.8" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M526.78 658.6L798.06 381.13" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L798.06 381.13" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L836.4 549.93" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L986.77 389.03" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L984.59 501.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L1088.67 369.46" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M798.06 381.13L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M836.4 549.93L836.4 549.93" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M836.4 549.93L984.59 501.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M836.4 549.93L791.44 700.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M836.4 549.93L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M791.44 700.92L791.44 700.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M791.44 700.92L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M986.77 389.03L986.77 389.03" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M986.77 389.03L1088.67 369.46" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M986.77 389.03L984.59 501.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M986.77 389.03L1089.43 224.83" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M984.59 501.26L984.59 501.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M984.59 501.26L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M955.21 654.81L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1146.05 76.2L1146.05 76.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1146.05 76.2L1279.87 104.77" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1089.43 224.83L1089.43 224.83" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1089.43 224.83L1088.67 369.46" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1089.43 224.83L1146.05 76.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1088.67 369.46L1088.67 369.46" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1088.67 369.46L984.59 501.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1088.67 369.46L1311.99 361.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1088.67 369.46L1275.03 234.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1154.55 653.3L1154.55 653.3" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1154.55 653.3L1278.68 642.94" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1154.55 653.3L955.21 654.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1245.79 -89.39L1245.79 -89.39" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1245.79 -89.39L1413.98 -94.39" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1245.79 -89.39L1146.05 76.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1245.79 -89.39L1279.87 104.77" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1245.79 -89.39L1426.67 103.36" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1279.87 104.77L1279.87 104.77" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1311.99 361.97L1311.99 361.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1311.99 361.97L1298 510.04" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1311.99 361.97L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1278.68 642.94L1278.68 642.94" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1278.68 642.94L1454.2 661.19" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1278.68 642.94L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1413.98 -94.39L1413.98 -94.39" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1413.98 -94.39L1426.67 103.36" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1413.98 -94.39L1591.86 44.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1414.45 507.14L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1414.45 507.14L1404.86 358.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1414.45 507.14L1454.2 661.19" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1454.2 661.19L1454.2 661.19" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1454.2 661.19L1594.75 670.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1454.2 661.19L1298 510.04" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1591.86 44.97L1591.86 44.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1591.86 44.97L1589.75 188.13" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1589.75 188.13L1589.75 188.13" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1589.75 188.13L1550.44 346.66" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1589.75 188.13L1426.67 103.36" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1589.75 188.13L1404.86 358.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1550.44 346.66L1550.44 346.66" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1550.44 346.66L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1550.44 346.66L1311.99 361.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1594.75 670.4L1594.75 670.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1594.75 670.4L1414.45 507.14" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1594.75 670.4L1278.68 642.94" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <path d="M1594.75 670.4L1550.44 346.66" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
      <circle r="25" cx="-93.61" cy="524.01" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="709.08" cy="704.98" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="1275.03" cy="234.97" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="1298" cy="510.04" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="1426.67" cy="103.36" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="1404.86" cy="358.26" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="25" cx="1565.47" cy="559.7" fill="url(#SvgjsRadialGradient1001)"></circle>
      <circle r="5" cx="-72.13" cy="655.01" fill="#8b9ad9"></circle>
      <circle r="5" cx="38.76" cy="489.56" fill="#8b9ad9"></circle>
      <circle r="5" cx="105.4" cy="681.62" fill="#8b9ad9"></circle>
      <circle r="5" cx="199.21" cy="515.8" fill="#8b9ad9"></circle>
      <circle r="5" cx="350.92" cy="689.07" fill="#8b9ad9"></circle>
      <circle r="5" cx="526.78" cy="658.6" fill="#8b9ad9"></circle>
      <circle r="5" cx="798.06" cy="381.13" fill="#8b9ad9"></circle>
      <circle r="5" cx="836.4" cy="549.93" fill="#8b9ad9"></circle>
      <circle r="5" cx="791.44" cy="700.92" fill="#8b9ad9"></circle>
      <circle r="5" cx="986.77" cy="389.03" fill="#8b9ad9"></circle>
      <circle r="5" cx="984.59" cy="501.26" fill="#8b9ad9"></circle>
      <circle r="5" cx="955.21" cy="654.81" fill="#8b9ad9"></circle>
      <circle r="5" cx="1146.05" cy="76.2" fill="#8b9ad9"></circle>
      <circle r="5" cx="1089.43" cy="224.83" fill="#8b9ad9"></circle>
      <circle r="5" cx="1088.67" cy="369.46" fill="#8b9ad9"></circle>
      <circle r="5" cx="1154.55" cy="653.3" fill="#8b9ad9"></circle>
      <circle r="5" cx="1245.79" cy="-89.39" fill="#8b9ad9"></circle>
      <circle r="5" cx="1279.87" cy="104.77" fill="#8b9ad9"></circle>
      <circle r="5" cx="1311.99" cy="361.97" fill="#8b9ad9"></circle>
      <circle r="5" cx="1278.68" cy="642.94" fill="#8b9ad9"></circle>
      <circle r="5" cx="1413.98" cy="-94.39" fill="#8b9ad9"></circle>
      <circle r="5" cx="1414.45" cy="507.14" fill="#8b9ad9"></circle>
      <circle r="5" cx="1454.2" cy="661.19" fill="#8b9ad9"></circle>
      <circle r="5" cx="1591.86" cy="44.97" fill="#8b9ad9"></circle>
      <circle r="5" cx="1589.75" cy="188.13" fill="#8b9ad9"></circle>
      <circle r="5" cx="1550.44" cy="346.66" fill="#8b9ad9"></circle>
      <circle r="5" cx="1594.75" cy="670.4" fill="#8b9ad9"></circle>
  </g>
  <defs>
      <mask id="SvgjsMask1000">
          <rect width="1440" height="560" fill="#ffffff"></rect>
      </mask>
      <radialGradient id="SvgjsRadialGradient1001">
          <stop stop-color="#ffffff" offset="0.1"></stop>
          <stop stop-color="#1735b3" offset="0.2"></stop>
          <stop stop-color="rgba(23, 53, 179, 0)" offset="1"></stop>
      </radialGradient>
  </defs>
</svg>
}

.content .container .col .links a:last-child {
  border-bottom: none;
}
.content .container .col .links a:hover {
  padding-left: 30px;
  color: var(--main-color);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(22, 22, 22);
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 5px 10px;
  color: rgb(124, 124, 124);
}
footer i {
  padding: 0 2px;
  color: rgb(73, 49, 207);
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
